<nav id="navbar">
    <div class="container container-nav">
        <a href="#" class="logo">NK<span>Profile.</span></a>
        <ul class="nav-links">
            <li><a href="#home" class="active">Trang chủ</a></li>
            <li><a href="#about">Giới thiệu</a></li>
            <li><a href="#skills">Kỹ năng</a></li>
            <li><a href="#projects">Dự án</a></li>
            <li><a href="#experience">Kinh nghiệm</a></li>
            <li><a href="#contact">Liên hệ</a></li>
        </ul>
        <div class="menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>
