<nav id="navbar">
    <div class="nav-overlay"></div>
    <div class="container container-nav">
        <a href="#home" class="logo">NK<span>Portfolio.</span></a>
        
        <div class="nav-links-container">
            <ul class="nav-links">
                <div class="nav-close">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="#home" class="active">Trang chủ</a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li><a href="#skills">Kỹ năng</a></li>
                <li><a href="#projects">Dự án</a></li>
                <li><a href="#experience">Kinh nghiệm</a></li>
                <li><a href="#contact">Liên hệ</a></li>
            </ul>
        </div>
        <div class="nav-extra">
            <div class="theme-toggle" id="theme-toggle">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
            </div>

            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </div>
</nav>
