<section id="experience" class="experience">
    <div class="container">
        <div class="section-title">
            <h2>Lịch Sử Làm Việc</h2>
            <div class="underline"></div>
        </div>
        <div class="timeline">
            <div class="timeline-item right reveal">
                <div class="timeline-content">
                    <span class="date">Hiện tại</span>
                    <h3>Freelancer</h3>
                    <p class="company">Freelancer</p>
                    <p>Làm việc tự do hoặc theo nhóm các dự án nhỏ: website, app, hệ thống quản lý,...</p>
                </div>
            </div>
            <div class="timeline-item left reveal">
                <div class="timeline-content">
                    <span class="date">12/2024 - Hiện tại</span>
                    <h3>Fullstack Developer</h3>
                    <p class="company">Công ty Cổ phần Kỹ thuật Thái Dương (SunTech Technology JSC)</p>
                    <p>Phát triển và bảo trì các ứng dụng website cho khách hàng doanh nghiệp. Tối ưu hóa hiệu năng và trải nghiệm người dùng.</p>
                </div>
            </div>
            <div class="timeline-item right reveal">
                <div class="timeline-content">
                    <span class="date">01/2023 - 11/2024</span>
                    <h3>Frontend Developer</h3>
                    <p class="company">Công Ty Cổ Phần Rynan Technologies Vietnam (Rynan Technologies Vietnam JSC)</p>
                    <p>Phát triển và bảo trì các tính năng cho website nền tảng chuyển đổi số nông nghiệp (vdapes.com), tối ưu hóa quy trình quản lý cho nhà nước và người nông dân.</p>
                </div>
            </div>
            <div class="timeline-item left reveal">
                <div class="timeline-content">
                    <span class="date">2022</span>
                    <h3>Sinh viên thực tập</h3>
                    <p class="company">Trung tâm phần mềm VNPT Trà Vinh</p>
                    <p>Phát triển website quản lý nội bộ công ty.</p>
                </div>
            </div>
            <div class="timeline-item right reveal">
                <div class="timeline-content">
                    <span class="date">2018-2023</span>
                    <h3>Sinh viên</h3>
                    <p class="company">Trường Đại học Cần Thơ (CTU)</p>
                    <p>Chuyên ngành: Công nghệ thông tin</p>
                    <p>Tham gia Nghiêm cứu khoa học, luận văn, khóa luận,...</p>
                </div>
            </div>
        </div>
    </div>
</section>
